<h1>Edit Profile</h1>

<%= form_with(model: current_user, url: update_profile_dashboard_index_url, local: true) do |form| %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :avatar %>
    <%= form.file_field :avatar %>
  </div>

  <div>
  <%= form.label :status %><br>
  <%= form.select :status, Visible::VALID_USER_STATUSES, selected: @user.status || 'public' %>
  </div>

  <div class="actions">
    <%= form.submit 'Update Profile' %>
  </div>

  
<% end %>