<h1>Dashboard</h1>

<p>Welcome, <%= current_user.email %>!</p>
<p>Your status is locked as, <%= current_user.status %></p>
<% if current_user.avatar.attached? %>
  <%= image_tag current_user.avatar, size: "100x100" %>
<% else %>
  <div style="width: 100px; height: 100px; background-color: #ccc; display: flex; align-items: center; justify-content: center; font-size: 24px;">
    <%= current_user.initials %>
  </div>
<% end %>



<%= link_to 'Edit Profile', edit_profile_dashboard_index_url, class: 'btn btn-secondary' %>

<h2>Your Posts</h2>

<ul>
  <% @posts.each do |post| %>
    <% if !post.archived? %> 
    <li>
    <a href="/posts/<%= post.id %>">
    <%= post.title %>
    </a>
    </li>
    <% end %>
  <% end %>
</ul>

<%= link_to 'Archived Posts', archived_posts_path%>

<%= button_to 'Sign Out', destroy_user_session_path, method: :delete %>

<h2>Create a New Post</h2>
<%= link_to 'New Post', new_post_path, class: 'btn btn-primary' %>