<% if current_user.followees.any? %>
  <% current_user.followees.each do |user| %>
    <% user.posts.each do |post| %>
      <div class="post">
        <%= link_to post_path(post) do %>
          <h3><%= post.title %></h3>
        <% end %>
        <%= social_share_button_tag(post.title) %>
      </div>
    <% end %>
  <% end %>
<% else %>
  <h1>Suggested for you</h1>
  <% User.all.sort_by(&:followers_count).reverse.first(10).each do |user| %>
    <% user.posts.each do |post| %>
      <div class="post">
        <%= link_to post_path(post) do %>
          <h3><%= post.title %></h3>
        <% end %>
        <%= social_share_button_tag(post.title) %>
      </div>
    <% end %>
  <% end %>
<% end %>
