<%= form_with model: post do |form| %>

   <div class="field">
    <%= form.label :avatar %>
    <%= form.file_field :avatar %>
  </div>

  <div>
    <%= form.label :location %><br>
    <%= form.text_field :location %>
    <% post.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
    <% post.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :content %><br>
    <%= form.text_area :content %><br>
    <% post.errors.full_messages_for(:content).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <p>
  <%= form.label :status %><br>
  <%= form.select :status, Visible::VALID_POST_STATUSES, selected: 'public' %>
  </p>


  <div>
    <%= form.submit %>
  </div>
<% end %>