<% if @post.avatar.attached? %>
  <%= image_tag @post.avatar, size: "100x100" %>
<% end %>

<h1><%= @post.title %></h1>
<p><%= @post.content %></p>

<ul>
  <%= link_to 'Edit', edit_post_path(@post) %> |
  <li><%= link_to "Destroy", post_path(@post), data: {
                      turbo_method: :delete,
                      turbo_confirm: "Are you sure?"
                    } %></li>
</ul>


<%= @post.likes.count %> Likes

<% like= current_user.likes.find_by(post: @post) %>

<% if like.nil? %>

<form action="/likes" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="like[post_id]" value="<%= @post.id %>">
  <input type="submit" value="Like">
</form>

<% else %>
  <form action="<%= like_path(like) %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="submit" value="Unlike">
  </form>
<% end %>

<p>
  <strong>Comments:</strong>
  <% @post.comments.order(id: :desc).each do |comment| %>
    <div>
      <% if comment.user %>
        <p><strong><%= comment.user.name %>:</strong> <%= comment.content %></p>
      <% else %>
        <p><strong>Anonymous:</strong> <%= comment.content %></p>
      <% end %>
    </div>
  <% end %>
  <%= render partial: 'comments/form', locals: { post: @post } %>
</p>
